{% extends 'base.html' %}

{% block content %}
	
{% if user.is_authenticated %}

	<span style="font-family:monospace; font-size:30px;">Add information to Database</span>
	{% if submitted %}		
			
		<h1>Your information was submitted 
		succefully!!</h1>
		
	{% else %}
		
		<form action="" method=POST enctype="multipart/form-data">
			{% csrf_token %} 		
			{{ form.as_p }}
			
			<input type="submit" value="submit"
			class="btn btn-secondary">
			
			<br/><br/>
		</form>
	{% endif %}
	
{% else %}	
<h3><font face="monospace">Sorry! You must be logged in to view this page <h3>

<br/>
<a href={% url 'login' %}>Login here</a>
	
{% endif %}

{% endblock %}
